<%-include('header') -%>
    <h1 class="">Projetos</h1>
    <div class="list-projects">
        <ul>
        <% for(var i=0; i < lista_projetos.length; i++) {%>
            <li class="projeto">    
                <span class="descritor">Tipo de Projeto:</span>
                <%=lista_projetos[i].tipo %><br />

                    <span class="descritor">Tecnologia:</span>
                    <%=lista_projetos[i].tecnologia %><br />

                        <span class="descritor">Início:</span>
                        <%=lista_projetos[i].inicio %> <br />

                            <span class="descritor">Término:</span>
                            <%=lista_projetos[i].fim %>
            </li>
            <% } %>
    </ul>
</div>
    

    <%-include('footer') -%>